@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Retro Team";
  src: url('./fonts/retro_team.otf');
}

@font-face {
  font-family: "Hacker Kerx";
  src: url('./fonts/hacked-kerx.ttf');
}

:root{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 18px;
}